---
# roles/find_active_node/tasks/main.yml

- name: "1. Health Check: Verify cluster daemon is running"
  ansible.builtin.command: "pcs cluster status"
  register: cluster_health
  changed_when: false
  ignore_errors: true

- name: "Halt execution on this node if Health Check failed"
  ansible.builtin.fail:
    msg: "CRITICAL: Pacemaker is not responding on {{ inventory_hostname }}. Skipping."
  when: cluster_health.failed

- name: "2. Get this local node's internal Pacemaker name"
  ansible.builtin.command: "crm_node -n"
  register: local_node_name_cmd
  changed_when: false

- name: "3. Get the Active Cluster Node (Designated Controller)"
  ansible.builtin.shell: "crm_mon -1 | awk '/Current DC:/ {print $3}'"
  register: active_node_cmd
  changed_when: false

- name: "4. Set Cluster Facts for playbook execution"
  ansible.builtin.set_fact:
    active_cluster_node: "{{ active_node_cmd.stdout }}"
    pacemaker_local_name: "{{ local_node_name_cmd.stdout }}"
    # Evaluates to 'true' only if this node is the active DC
    is_active_node: "{{ local_node_name_cmd.stdout == active_node_cmd.stdout }}"

- name: "5. Debug: Print Active Node and Local Node Names"
  ansible.builtin.debug:
    msg: "Active Cluster Node: {{ active_cluster_node }}, Local Node Name: {{ pacemaker_local_name }}, Is Active Node: {{ is_active_node }}"