---     
  # 1. Verification of the required variables
  - name: Verify required variables are defined
    ansible.builtin.assert:
      that:
        - target_state is defined
      fail_msg: "The variable 'target_state' must be defined (e.g., Started, Stopped)."

  # 2. Create a list of resources and groups based on pcs resource config
  - name: Retrieve raw Pacemaker resource configuration
    command: pcs resource config
    register: pcs_config_raw
    changed_when: false
    check_mode: false

  # 3. Safety Check (Crucial: prevents role from succeeding if Regex finds nothing)
  - name: Fail if no resources were found
    ansible.builtin.fail:
      msg: "Error: No resources detected. The 'pcs resource config' output format might have changed, or the cluster is empty."
    when: pacemaker_resources | length == 0

  # 4. Summary
  - name: Display summary of identified resources
    ansible.builtin.debug:
      msg: 
        - "Identified {{ pacemaker_resources | length }} resources/groups."
        - "List: {{ pacemaker_resources }}"

  # 5. Verify state
  - name: Verify state for each resource
    ansible.builtin.include_tasks:
      file: verify_resource.yml
    loop: "{{ pacemaker_resources }}"
    loop_control:
      loop_var: resource_item

  # 5. Set facts to be able to access between runs/plays
  - name: Persist resource status facts
    ansible.builtin.set_fact:
      pcmk_verified_resources: "{{ pacemaker_resources }}"
      pcmk_verification_status: "Success"
      cacheable: yes