---
- name: "Check state of {{ resource_item }} using crm_resource"
  ansible.builtin.command:
    cmd: crm_resource --resource {{ resource_item }} --locate
  register: resource_locate
  changed_when: false
  ignore_errors: true 
  until:
    - (target_state == "Started" and resource_locate.rc == 0) or
      (target_state == "Stopped" and resource_locate.rc != 0)
  retries: "{{ pcmk_retries }}"
  delay: "{{ pcmk_delay }}"
  
- name: "Fail if {{ resource_item }} failed to reach {{ target_state }}"
  ansible.builtin.fail:
    msg: "TIMEOUT: Resource {{ resource_item }} did not reach state '{{ target_state }}'."
  when: 
    - target_state == "Started"
    - resource_locate.rc != 0
