---
- name: "Wrapper: Execute Health Checks"
  # This include will now run to completion, because internal tasks catch their own errors.
  include_tasks: perform_checks.yml

- name: "Consolidated Error Reporting"
  block:
    # -------------------------------------------------------
    # FINAL PLAYBOOK FAILURE
    # -------------------------------------------------------
    - name: Fail the playbook if errors were detected
      fail:
        msg: "Health Check failed with {{ health_check_errors | length }} errors. See above for details."
      when: health_check_errors | length > 0