---
# -------------------------------------------------------
# SECTION 1: VARIABLE VALIDATION
# -------------------------------------------------------
- name: "SECTION 1: Verification of Required Variables"
  block:
    - name: Assert Variables are defined
      ansible.builtin.assert:
        that:
          - pacemaker_service is defined and pacemaker_service != ''
          - corosync_service is defined and corosync_service != ''
          - corosync_conf_path is defined and corosync_conf_path != ''
          - cib_xml_path is defined and cib_xml_path != ''
        fail_msg: "Required variables are missing."
      register: var_check_result
      ignore_errors: true

    - name: Record Variable Failures
      ansible.builtin.set_fact:
        health_check_errors: "{{ health_check_errors | default([]) + ['SECTION 1: ' + item.msg] }}"
      loop: "{{ var_check_result.results | default([]) }}"
      loop_control:
        label: "{{ item.item }}"
      when: item.failed | bool
