---
- name: "SECTION 7: Check for Failed Cluster Events (Cluster Wide)"
  when: is_active_node | default(false) | bool
  block:
    - name: Get Cluster Status (For Events)
      command: pcs status
      register: pcs_status_events
      changed_when: false
      ignore_errors: true

    - name: Record Status Command Failure
      set_fact:
        health_check_errors: "{{ health_check_errors | default([]) + ['SECTION 7: Unable to check events. Error: ' + pcs_status_events.stderr | default('Command failed')] }}"
      when: pcs_status_events.failed | bool

    - name: Assert No Failed Actions
      ansible.builtin.assert:
        that:
          - "'Failed Resource Actions:' not in pcs_status_events.stdout"
        fail_msg: "Cluster reports Failed Resource Actions. Check 'pcs status'."
      register: event_check_result
      ignore_errors: true
      when: 
        - not (pcs_status_events.failed | default(false))
        - pcs_status_events.stdout is defined

    - name: Print the variable for debugging
      debug:
        var: event_check_result

    - name: Record Event Failures
      ansible.builtin.set_fact:
        health_check_errors: "{{ health_check_errors | default([]) + ['SECTION 7: ' + event_check_result.msg] }}"
      when: 
        - not (pcs_status_events.failed | default(false))
        - event_check_result.failed | bool
