---
- name: "SECTION 8: Check for Stonith Events (Cluster Wide)"
  when: is_active_node | default(false) | bool
  block:
    - name: Get Stonith History
      shell: pcs stonith history | grep -v "Cleaning up"
      register: stonith_history
      changed_when: false
      ignore_errors: true 

    - name: Assert No Recent Fencing
      ansible.builtin.assert:
        that:
          - "'error' not in stonith_history.stdout"
          - "'failed' not in stonith_history.stdout"
        fail_msg: "Found failed Stonith/Fencing events in history."
      register: history_check_result
      ignore_errors: true
      when: 
        - stonith_history.rc != 127  
        - stonith_history.stdout is defined

    - name: Record History Failures
      ansible.builtin.set_fact:
        health_check_errors: "{{ health_check_errors | default([]) + ['SECTION 8: ' + item.msg] }}"
      loop: "{{ history_check_result.results | default([]) }}"
      when: item.failed | bool
